asgiref
certifi
chardet
defusedxml
Django
django-allauth
django-cors-headers
django-rest-auth
djangorestframework
gunicorn
idna
oauthlib
Pillow
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3
